@charset "utf-8";

body {
  background: url(../img/join/bg.png) no-repeat center ;
  background-size: 100% 100%;
  font-size: 16px;
}
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
/* layout */
#wrap {
  width: 100%;
  height: 100vh;
  overflow-x: hidden;
  position: relative;
}
/* header */
.header {
  padding: 20px 0;
  width: 100%;
}
.header a.logo {
  display: block;
  position: relative;
  margin: 0 auto;
  max-width: 200px;
  padding: 0 30px;
}
.header a.logo img {
  width: 100%;
}

/* obj */
.obj_wrap {
  position: relative;
  width: 100%;
  
}
.obj_wrap img {
  position: absolute;
  z-index: -1;
  animation: 5s ease 0s infinite normal none running obj_animation;
}
.obj_wrap img:nth-child(1) {
  top: 30%;
  left: 20%;
  filter: blur(2px);
}
.obj_wrap img:nth-child(2) {
  top: 500px;
  right: 300px;
  filter: blur(10px);
}
.obj_wrap img:nth-child(3) {
  right: 100px;
  width: 100px;
}
.obj_wrap img:nth-child(4) {
  top: 450px;
  left: 200px;
  width: 200px;
}

/* content */
.container {
  border-radius: 8px;
  width: 100%;
  padding-top: 100px;
  background-color: #ffffff;
  padding: 25px 18px;
  box-sizing: border-box;
  border: 1px solid #ebebeb;
  width: calc(100% - 60px);/* 모바일 사이즈 */
  margin: 0 auto;
}
.container h2 {
  text-align: center;
  margin: 10px 0 50px;
  font-weight: 300;
}
.container form .join_wrap .form_list {
  margin: 10px 0;
}
.container form .join_wrap .form_list .form_item {
  background-color: #ffffff;
  border: 1px solid #dadada;
  box-sizing: border-box;
  padding: 0 16px;
}
.container form .join_wrap .form_list .form_item:first-child {
  border-radius: 6px 6px 0 0;
  border-bottom-color: #fff;
}
.container form .join_wrap .form_list:first-child .form_item:nth-child(2) {
  border-bottom-color: #fff;
}
.container form .join_wrap .form_list .form_item:last-child {
  border-radius: 0 0 6px 6px;
}
.container form .join_wrap .form_list .form_item input {
  padding: 12px 0;
  width: 100%;
}
.container form .join_wrap .form_list .form_item.id p {
  color: #ccc;
}
.container form .join_wrap .form_list .form_item.pw p {
  color: #7b5bf9;
  font-size: 15px;
  cursor: pointer;
}
.container input[type=button] {
  width: 100%;
  font-size: 18px;
  color: #fff;
  border: none;
  width: 100%;
  height: 100%;
  border-radius: 6px;
  font-weight: bold;
  padding: 12px 0 13px;
  background: linear-gradient(90deg, #42cfc7 25%, #7b5bf9 70%);
  cursor: pointer;
}


/* 미디어쿼리 웹사이즈*/
@media (min-width: 767px) {
  .header {  
    padding: 50px 0;
  }
  .container {
    width: 540px;
  }
}